<h2>{{title}}</h2>
<img src="{{imageUrl}}" alt="">
<img [src]="imageUrl" />

<div (click)="onDivClicked()">
  <button class="btn btn-primary" [class.active]="isActive" (click)="onSave($event)">
    Button
  </button>
</div>
<div>
  <input [(ngModel)]="email" (keydown.enter)="onKeyUp(email)">
</div>


<div>
  <h3>
    <ul>
      <li>{{courseItems.title | uppercase}}</li>
      <li>{{courseItems.students | number}}</li>
      <li>{{courseItems.rating | number:'1.1-1'}}</li>
      <li>{{courseItems.price | currency:'AUD'}}</li>
      <li>{{courseItems.releaseDate | date}}</li>
    </ul>
  </h3>
</div>

<div>
  <p>{{text | summary: 10}}</p>
</div>
